<%- include('partials/header'); -%>
<br><br><br><br>

<div class="container">
    <h1 class="welcome">About</h1>
    <p class="intro">
        Blogit is a web application built for people to blog their heart out. You need to sign up to create your account and enter the world of seamless blogging.
    </p>
    <br>
</div>

<%- include('partials/footer'); -%>