<%- include('partials/header'); -%>
<br><br><br><br>

<div class="container">
    <h1 class="welcome">Contact</h1>
    <p class="intro">
        This app is created by Abhishek Aryan. <a href="mailto:iamabhishekaryan@gmail.com">Click here</a> to email me for any queries.
    </p>
    <br>
</div>

<%- include('partials/footer'); -%>