<%- include('partials/headerWhenLoggedIn'); -%>
<br><br><br><br>

<div class="container">
    <h1 class="welcome">Welcome <%= name %> to your profile </h1>
</div>

<%- include('partials/footer'); -%>